$green: #1AB15A;
$dark-green: #044a23;
$dark-green-opacity: rgba(4, 74, 35, 0.2);
$dark-green-2: #0c582c;
$white: #E8F7EE;

$dark-red: #B11A21;

$blue: #2980D9;

$orange: #E67E22;
$light-orange: rgba(230, 126, 34, 0.5);
$lightest-orange: rgba(230, 126, 34, 0.1);
