.calendar-tab {
  .navbar {
    .date-controller {
      display: flex;
      flex-direction: row;

      .previous-icon {
        width: 20px;
        height: 20px;
        background-color: $dark-red;
      }

      .next-icon {
        width: 20px;
        height: 20px;
        background-color: $dark-red;
      }

      .date-title {
        font-size: 18px;
        letter-spacing: 0.8;
      }

    }
  }
}
