.calendar-tab {
  overflow: hidden;

  .calendar-events-list {
    height: 100vh;
    overflow-y: scroll;


    .calendar-event {
      margin: 20px auto;
      width: 290px;
      display: flex;
      flex-direction: column;


      .event-body {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        // align-items: center;
        background-color: $green;
        color: white;
        border-radius: 5px;
        padding: 10px 20px;
        // box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
        box-shadow: 2px 2px 0px 0 rgb(12, 88, 44);


        .event-title {
          font-size: 18px;
          font-weight: 400;
          // text-align: center;
        }

        .event-time-range {
          font-size: 12px;
          letter-spacing: 0.5;
          font-weight: 300;
        }

        .event-address {
          font-size: 10px;
          letter-spacing: 0.4;
          font-weight: 300;
        }
      }
    }

    .calendar-event:hover {
      cursor: pointer;
    }
  }

  .calendar-events-list:after {
    content: "";
    display: block;
    height: 100px;
  }

  .calendar-events-list::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}
