.calendar-tab {
  overflow: hidden;

  .calendar-events-list {
    height: 100vh;
    overflow-y: auto;


    .calendar-event {
      margin: 20px auto;
      width: 290px;
      display: flex;
      flex-direction: column;

      .event-travel-time {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 30px;
        background-color: $blue;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        box-shadow: 2px 2px 0px 0 rgb(12, 88, 44);

        span {
          font-size: 14px;
          color: #fff;
          text-shadow: 0 0 2px #666;
        }
      }

      .event-body {
        transition-duration: 0.2s;
        transition-timing-function: ease-out;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        // align-items: center;
        background-color: $green;
        color: white;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 10px 20px;
        // box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
        box-shadow: 2px 2px 0px 0 rgb(12, 88, 44);


        .event-title {
          font-size: 18px;
          font-weight: 400;
          text-shadow: 0 0 2px #666;
          // text-align: center;
        }

        .event-time-range {
          font-size: 12px;
          letter-spacing: 0.5;
          font-weight: 300;
        }

        .event-address {
          font-size: 10px;
          letter-spacing: 0.4;
          font-weight: 300;
        }
      }

      .event-body.grey {
        background-color: rgba(102, 102, 102, 0.5);
        margin-left: 50px;
      }

      .event-body.hovered {
        transition-duration: 0.3s;
        transition-timing-function: ease-in;
        transform: scale(1.05);
      }

      .event-body:hover {
        transition-duration: 0.3s;
        transition-timing-function: ease-in;
        transform: scale(1.05);
      }

    }

    .event-start-trip-message {
      margin: 10px 0;

      display: flex;
      flex-direction: row;
      justify-content:space-between;
      align-items: baseline;

      .leave-time {
        margin-left: -10px;
        display:block;
        font-size: 20px;
        color: #333;
      }

      .leave-message {
        display: block;
        font-size: 12px;
        color: #999;
      }
    }


    .events-appear {
      opacity: 0.01;
    }

    .events-appear.events-appear-active {
      opacity: 1;
      transition: opacity .5s ease-in;
    }

    .events-enter {
      opacity: 0.01;
    }

    .events-enter.events-enter-active {
      opacity: 1;
      transition: opacity 500ms ease-in;
    }

    .events-leave {
      opacity: 1;
    }

    .events-leave.events-leave-active {
      opacity: 0.01;
      transition: opacity 100ms ease-in;
    }

  }

  .calendar-events-list:after {
    content: "";
    display: block;
    height: 100px;
  }

  .calendar-events-list::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  .calendar-events-list:hover::-webkit-scrollbar {
    width: 10px;
    background: transparent;
  }

  .calendar-events-list::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 10px;
    background: $green;
  }
}
